<mat-toolbar color="primary">
   <mat-toolbar-row id="main-toolbar">
      <div fxShow="true" fxHide.gt-sm="true">
         <a mat-button (click)="showOthers = !showOthers">
            <mat-icon id="menu-icon">menu</mat-icon>
         </a>
      </div>
      <span id="name">DINA</span>
      <div fxShow="true" fxHide.lt-md="true">
         <a mat-button [routerLink]="'/home'"> Home </a>
         <a mat-button> About Us </a>
         <a mat-button> Contact </a>
      </div>
      <span class="menu-spacer"></span>

      <div class="example-button-row">
         <div class="example-flex-container">
            <button mat-icon-button>
               <mat-icon>facebook</mat-icon>
            </button>
            <button mat-icon-button>
               <mat-icon id="wa-icon" svgIcon="whatsapp"></mat-icon>
            </button>
         </div>
      </div>
   </mat-toolbar-row>
   <div id="others-toolbar" *ngIf="showOthers" fxHide.gt-sm="true">
      <mat-toolbar-row>
         <a mat-button [routerLink]="'/home'"> Home </a>
      </mat-toolbar-row>
      <mat-toolbar-row>
         <a mat-button [routerLink]="'/home'"> About Us </a>
      </mat-toolbar-row>
      <mat-toolbar-row>
         <a mat-button [routerLink]="'/home'"> Contact </a>
      </mat-toolbar-row>
   </div>
</mat-toolbar>
