<mat-toolbar color="primary">
   <span id="name">DINA</span>
   <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button> About Us </a>
      <a mat-button> Products </a>
      <a mat-button> Customers </a>
      <a mat-button> Distributors </a>
      <a mat-button> Contact </a>
   </div>
   <span class="menu-spacer"></span>

   <div class="example-button-row">
      <div class="example-flex-container">
         <button mat-icon-button>
            <mat-icon>facebook</mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon id="waicon" svgIcon="whatsapp"></mat-icon>
         </button>
      </div>
   </div>
</mat-toolbar>
