<mat-card *ngIf="capitulos[0]">
   <mat-card-header>
      <mat-card-title>Introducción</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>
         En este momento se desarrolla en nuestro país la denominada COP 20, ( Conferencia de las
         Partes del Convenio Marco de Naciones Unidas sobre el Cambio Climático), la convención
         ambiental más grande y más importante del mundo. A esta cita asisten prácticamente todos
         los estados del planeta con el fin de plantear estrategias para solucionar un problema que
         nos está matando: el cambio climático. el objetivo del evento es la de tomar acciones para
         proteger el medio ambiente y con la esperanza de "construir la alianza más grande de la
         historia" mediante un nuevo acuerdo mundial contra el calentamiento global.
      </p>
      <p>
         Según el informe del PNUD (Programa de las Naciones Unidas para el Desarrollo) sobre cambio
         climático es un llamado de advertencia. La temperatura mundial aumentó 0.7 grados. Su
         efecto más notorio en el Perú se observa en el derretimiento de los glaciares. Expertos
         piden tomar acciones urgentes.
      </p>
      <p>
         El coordinador ejecutivo Programa Nacional de Conservación de Bosques del Ministerio del
         Ambiente (MINAM), Gustavo Suárez de Freitas alertó indicando que el Perú emite cada día a
         la atmósfera 380.000 toneladas de dióxido de carbono (CO2), lo que equivale a 138 millones
         de toneladas por año, contribuyendo así al calentamiento global, que entre otras
         consecuencias afecta a <strong>glaciares</strong>.
      </p>
      <p>
         La meta de la <strong>COP20</strong> es acordar el borrador de un nuevo acuerdo mundial
         para la reducción de emisiones de gases de efecto invernadero que deberá ser aprobado el
         próximo año en la COP21 de París, para sustituir al protocolo de Kioto, suscrito en 1992.
      </p>
      <p>
         Muchas personas no somos conscientes de los graves daños que trae consigo el
         <strong>cambio climático</strong>. mencionaremos algunas situaciones comunes que podrían
         cambiar en Perú si no se toman las medidas adecuadas, El nevado de Pastoruri ha
         experimentado una gran reducción en la cantidad de nieve que lo cubría. Pero esto no es
         novedad. El 40% de la superficie glaciar del Perú ha desaparecido en los últimos 40 años.
         Es decir, se ha perdido tanta agua como para abastecer a Lima por más de 10 años , así
         también el único lugar en el Perú donde se encuentran las conchas negras es en la región
         Tumbes, debido a que es la única zona del país donde existen los bosques de manglares. Sin
         embargo, estos ecosistemas son amenazados por los efectos del
         <strong>Fenómeno del Niño</strong>: crecidas de los ríos, aumento del nivel del mar,
         lluvias y altas temperaturas. Estos efectos podrían aumentar su daño debido al cambio
         climático, poniendo en peligro la estabilidad de los bosques de manglares. El aumento de
         temperatura y la tala indiscriminada podría desaparecer el 60% de los bosques amazónicos
         para el 2030. Causando la desaparición de la biodiversidad de la zona, incluyendo las
         plantas medicinales más usadas en el país.
      </p>
      <p>
         Nuestro planeta se está calentando progresivamente en los últimos 150 años como
         consecuencia de la actividad industrial humana solo es puesto en duda por los grandes
         responsables de que eso ocurra (poderosas industrias y los países que las acogen).
      </p>
      <p>
         Ante las irrefutables pruebas de que el calentamiento global amenaza la vida en el planeta,
         Naciones Unidas redactó el Convenio Marco de las Naciones Unidas Sobre el Cambio Climático
         en 1992.
      </p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[1]">
   <mat-card-header>
      <mat-card-title
         >¿QUÉ PODEMOS HACER PARA AYUDAR A QUE LA SITUACIÓN MEJORE EN EL PLANETA?
      </mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>
         Mitigar el impacto del cambio climático no solo está en las manos de los líderes mundiales,
         sino también en la de los ciudadanos. Más allá de las grandes políticas que en la COP20
         discutan los líderes del mundo para reducir el calentamiento global,
         <strong>
            los ciudadanos también tenemos en nuestras manos la oportunidad de contrarrestar el
            cambio climático </strong
         >.
      </p>
      <p>
         Las acciones que realizamos día a día, forzosamente, tienen un impacto en el medio
         ambiente. Si bien el ser humano tiene cierta resistencia al “cambio”, en los tiempos
         actuales no podemos sino entender que nuestra forma de vida como hoy la conocemos no es
         óptima, no sólo para la Tierra, incluso para nosotros. Esa condición incluye ya a Perú.
         Cada uno de nosotros, desde nuestras casas, trabajos, escuelas, debemos estar más atentos a
         nuestros patrones de consumo, acciones y actividades y así podremos generar el cambio que
         necesitamos para vivir mejor.
      </p>
      <p>
         Hagamos unos cuantos cambios simples. Pequeñas acciones pueden hacer grandes cambios,
         especialmente cuando se trata del ambiente.
      </p>
      <p>
         <strong>
            Te ofrezco una serie de tips ecológicos que pueden ayudar a reducir el impacto que
            tienen sobre el planeta los hábitos de consumo y comportamiento diario.
         </strong>
      </p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[2]">
   <mat-card-header>
      <mat-card-title>En el trabajo…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[3]">
   <mat-card-header>
      <mat-card-title>En ti…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[4]">
   <mat-card-header>
      <mat-card-title>En casa…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[5]">
   <mat-card-header>
      <mat-card-title>De compras…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[6]">
   <mat-card-header>
      <mat-card-title>En Vacaciones…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[7]">
   <mat-card-header>
      <mat-card-title>En el campo…/En todo momento…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[8]">
   <mat-card-header>
      <mat-card-title>Residuos-para tener en cuenta…</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>

<mat-card *ngIf="capitulos[9]">
   <mat-card-header>
      <mat-card-title>Reflexión y fuente</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>dasdad</p>
   </mat-card-content>
</mat-card>
